{% extends 'bootstrap/base.html' %}

{% block title %}
	Cat Book | {{title}}
{% endblock %}

{% block head %}
	{{ super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock head %}

{% block body -%}
<div class="centered">
	<h1 class="logo">Cat Book</h1>
	<h2 class="slogan">Social Media for Cats</h2>
</div>
<div>
{% block content %}{% endblock %}
</div>
<div class="centered">
    <h2 class="disclaimer">Disclaimer: For CCSEP assignment purpose only</h2>
    <h3 class="group-name">Presented by K-SQUAD, derrived from KatZ-SQUAD</h3>
</div>
{% endblock body %}
