{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <script src="/static/picture.js"></script>
{% endblock head %}

{% block content %}

<div class="centered">
    {% if user.admin == True %}
    <a href="{{ url_for('admin') }}">Admin Panel</a></p>
    <br/>
    {% endif %}
    <a href="{{ url_for('upload') }}">Upload your cat picture</a></p>
    <a href="{{ url_for('logout') }}">Logout</a></p>
    <br/>

    <h3 class="like-count">You have {{like}} Like!</h3>

    <div class="centered cut-side">
        <h4>Select a cat to be displayed</h4>
        {{ selectForm.user(**{"onchange":"updatePicture()", "class": "form-control"}) }}
        <br/>
        <img id = picture height=250px/>

        <form action="/index" method="post">
        <input type="hidden" name="username" id="username" value="currentUsername();"> <br/>
        <button class="btn btn-default"type="submit" name="apiUrl" value="http://127.0.0.1:5001/like">Like</button>
        </form>
        <script>updatePicture()</script>
    </div>
</div>

{% endblock %}

