{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="centered cut-side">
	<h1 class=capital-modern>Login to Catbook</h1>
		{{ wtf.quick_form(form) }} </br>
    <p>First time here? <a href="{{ url_for('register') }}">Create a new account</a></p>
</div>
{% endblock %}
