{% extends "base.html" %}

{% block content %}
<div class="centered cut-side">
    <h1>Upload your cat image</h1>
    <button class="btn btn-default">Choose File</button>
</div>
{{image}}
{% endblock %}