.centered {
    text-align: center;
}

.like-count {
    color: white;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.rounded-white-transparent {
    border-radius: 10px;
    background-color: white;
    opacity: 50%;
}

.cut-side {
    margin-left: 35%;
    margin-right: 35%
}

.centered.cut-side {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
}

.logo {
    margin-top: 40px;
    font-family: "Bell MT";
    font-size: 48px;
    line-height: 0px;
    color: white;
}

.capital-modern {
    margin-bottom: 40px;
}

.slogan {
    font-family: "Brush Script MT";
    font-size: 30px;
    color: white;
    line-height: 41px;
    margin-bottom: 60px;
}

.group-name {
    font-family: "Tahoma";
    font-size: 18px;
    line-height: 30px;
    color: white;
    -webkit-text-stroke: 0.2px black;
}

.disclaimer {
    margin-top: 60px;
    font-family: "Tahoma";
    font-size: 30px;
    line-height: 0px;
    -webkit-text-stroke: 0.1px white;
    color: yellow;
    border-color: white;
}

.left-gap {
    margin-left: 10px;
}

.default {
    font-family: "Tahoma";
}

.floating-bubble {
    border-radius: 10px;
    border-color: black;
    margin-left: 20px;
}