<html>
    <head>
        <title>Cat Book | Admin Panel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="centered">
			<div class="logo">
				<span>Cat Book</span>
			</div>
			<p class="slogan">Admin panel</p>
		</div>
    <div>
    {% block app_content %} 
    {% for user in users %} {% include '_user.html' %} {% endfor %} 
    {% endblock %} 
    </div>
	    <div class="centered">
			<a href="/">Back to Homepage</a></p>
		</div>
    </body>
</html>

